{"swagger":"2.0","info":{"description":"","version":"1.0.0","title":"test"},"host":"www.zexchange.xyz","basePath":"/api/test","tags":[{"name":"test","description":""}],"schemes":["http"],"paths":{"/api/test/v1/test_api":{"post":{"tags":["test"],"summary":"这是测试路由","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"body","name":"body","required":true,"description":"","schema":{"$ref":"#/definitions/TestParam"}}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/0_test_api_ApiResult"}}},"description":"rateLimit: rate limit\nipFilter: filter ip\n"}},"/api/test/v1/test_api1":{"get":{"tags":["test"],"summary":"这是测试路由","consumes":["application/json","multipart/form-data"],"produces":["application/json"],"parameters":[{"in":"query","name":"haha","required":false,"description":"haha desc","type":"number"}],"responses":{"200":{"description":"正确返回","schema":{"$ref":"#/definitions/0_test_api1_ApiResult"}}},"description":"rateLimit: rate limit\nipFilter: filter ip\n"}}},"definitions":{"0_test_api1_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"example":[{"test":"111"}],"description":"no desc"},"internal_msg":{"example":"","description":"no desc"},"msg":{"example":"","description":"no desc"}}},"0_test_api_ApiResult":{"type":"object","properties":{"code":{"example":0,"description":"no desc"},"data":{"description":"no desc","properties":{"test":{"example":"hha","description":"no desc"}}},"internal_msg":{"example":"","description":"no desc"},"msg":{"example":"","description":"no desc"}}},"Test1Param":{"type":"object","properties":{"haha":{"type":"number","example":{"haha":122},"description":"haha desc"}}},"TestParam":{"type":"object","required":["user_id","token"],"properties":{"token":{"type":"string","example":"fghsfghs","description":"token desc"},"user_id":{"type":"number","example":122,"description":""}}}}}